/* number formatting for 'days remaining' panel */
.large-number {
	font-size: 128px;
}
/* extra padding in the 'Help' dialog */
.markdown-container {
    padding: 2rem;
    background-image: url("../resources/sunflowers.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

}